<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit the Content</title>
</head>

<body>
    <h2>User : <%= post.username%>
    </h2>
    <p>Post id : @<%= post.id %>
    </p>
    <form method="post" action="/posts/<%= post.id%>?_method=PATCH">
        <textarea name="content" rows="10" cols="30"><%= post.content%></textarea> <br>
        <button>Save</button>
    </form>
</body>

</html>