<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form method="post" action="/posts">
        <input name="username" placeholder="Enter Username"> <br></br>
        <textarea name="content" placeholder="Write your post here"></textarea> <br></br>
        <button>Submit</button>
    </form>
</body>
</html>